
nav {
    display:flex;
    flex-flow:row;
    justify-content: space-around;
}


.menu {
    display:flex;
    flex-flow:row;
    justify-content: space-around;    

    flex-wrap: wrap;
      text-align:center;
    text-decoration: none;
}

.headermenu {
      width: 70%; 
    max-height:4em;  
}

#login_menu {
text-align: right;
}


#login_lang_menu {
    width: 15%;
    justify-content: flex-end;
    text-align:right;
    height: 100%
}


.menuitem {
    
    padding-right: 0.7em;
    height: 1.3em;
}

.menu a {
 text-decoration: none;
    
}


.menuitem:hover {
 background: grey;
    height: 1.3em;
    
}


.menu li {
list-style: none;	
}

.menu li:hover {
	
}


#language_menu img {
 max-width:100%; 
     max-height:100%; 
    margin-top:-0.5em;
}




/*

nav ul {
	list-style: none;
	margin: 0; 
    padding: 0;
}

nav li {
	list-style: none;
	float: left;	
	margin-right: 2em;
}

#login_menu {
	float:right;
	margin-right: 2em;
	width: 8em;
	text-align:right;
}

#language_menu {
	float:right;
	margin-right: 2em;
	display: inline;
	width:3em;	
}

.ddown ul li {
	display: none;
	float:right;
	margin-right: 1em;
	clear:both;
}

.ddown:hover  {
	background-color:white;	
}

.ddown:hover li {
	display: block;	
}

.ddown li:hover {
	background-color: #3FE6F2;
}
*/