



nav {
    display:flex;
    flex-flow:row;
    justify-content: space-around;
}


.menu {
    display:flex;
    flex-flow:row;
    justify-content: space-around;    
    flex-wrap: wrap;
      text-align:center;
    text-decoration: none;
}


.menu li {
 text-decoration: none;
    text-decoration-color: currentColor;
}

.headermenu {
      width: 70%; 
    max-height:4em;  
}

#login_menu {
    display:flex;
    flex-direction: column; 
    align-content:flex-end;
    justify-content: flex-start;
    padding:0.2em;
    min-width:6em;
}

#lang_menu {
 min-width:3em;   
}

#login_lang_menu {
    width: 15%;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:flex-start;
    align-content:flex-start;
    text-align:right;
    height: 100%
}


.menuitem {
    
    padding-right: 0.7em;
    height: 1.3em;
}

.menu a {
 text-decoration: none;
    
}


.menuitem:hover {
 background: grey;
    height: 1.3em;
    
}


.menu li {
list-style: none;	
display:none;
}


.menu:hover li {	
display:block;    
}

.menu li:hover {
background: grey;	
}


#language_menu img {
    max-width:100%; 
     max-height:100%; 
    margin-top:-0.5em;
}

.ddown {
    display:flex;
    flex-flow: column;
    align-content:flex-start;
    justify-content:center;  
    border-radius: 3px;
    margin-left:1em;
    
}

.ddown img {
      
}

.ddown img:nth-child(n+1)  {
 visibility: hidden; 
    background: white;
    opacity: 1;
    padding-top: 0.4em;
    padding-bottom: 0.6em;
}


.ddown img:first-child  {
 visibility: visible; 
    background: white;
    opacity: inherit;
    padding: 0 0; 
}


.ddown:hover img {
 visibility: visible; 
    cursor: pointer;
}

.ddown:hover img:hover {
   background: black; 
}




/*

nav ul {
	list-style: none;
	margin: 0; 
    padding: 0;
}

nav li {
	list-style: none;
	float: left;	
	margin-right: 2em;
}

#login_menu {
	float:right;
	margin-right: 2em;
	width: 8em;
	text-align:right;
}

#language_menu {
	float:right;
	margin-right: 2em;
	display: inline;
	width:3em;	
}

.ddown ul li {
	display: none;
	float:right;
	margin-right: 1em;
	clear:both;
}

.ddown:hover  {
	background-color:white;	
}

.ddown:hover li {
	display: block;	
}

.ddown li:hover {
	background-color: #3FE6F2;
}
*/