<footer>

<div class="menu footermenu">

<li>for businesses</li>
<li>for planners</li>
<li>about us</li>

</div>

<div>
    <a href="https://facebook.com/planningmate" target="_blank"><img alt="Share on facebook" src="/static/images/fblink.png" target="_blank"></a>
    <a href="https://twitter.com/planningmate" target="_blank"><img alt="Spire's twitter" src="/static/images/twitter.png" target="_blank"></a>
    <a href="https://instagram.com/planningmate" target="_blank"><img alt="Spire's instagram" src="static/images/instagram.png" target="_blank"></a>
  </div>
</footer>
