<footer>

<div class="footercontent">

    <div class="menu footermenu">

<div>for businesses</div>
<div>for planners</div>
<div>about us</div>

</div>

<div class="social_links">
    
    <a href="https://facebook.com/planningmate" target="_blank"><img alt="Share on facebook" src="/static/images/fblink.png" target="_blank"></a>
    <a href="https://twitter.com/planningmate" target="_blank"><img alt="Spire's twitter" src="/static/images/twitter.png" target="_blank"></a>
    <a href="https://instagram.com/planningmate" target="_blank"><img alt="Spire's instagram" src="static/images/instagram.png" target="_blank"></a>
 
    </div>
    
    </div>
</footer>
