<link rel="stylesheet" href="/static/css/menu.css">


  <nav>
    <div class="menu">
    
    {% if destination %}
       
          	{% for type in provider_types %}
           	 <div class="menuitem"><a href="/destination?provider_type={{ type }}&destination={{destination}}">{{ type }}</a></div>
        	{% endfor %} 

     {% endif %}   
        
     </div>
      
      <div id="login_lang_menu" class="menu">
          <div id="login_menu" class="menu ddown">
            {% if user %} 
             {{ user.first_name }} &#x25bc;
            
            <ul> 
               	{% if user.isAdmin() %}
            	    <li><a href="/admin">Admin menu</a></li> 
                {% endif %} 
                 <li><a href="/favorites"> Favorites </a> </li>
                 <li><a href="/plans"> Plans </a> </li>
                 {% if user.isPlanner() %}
            	    <li><a href="/customers"> Customers </a> </li>
                {% endif %} 
        
                <li><a href="/logout"> logout </a> </li>
            </ul>

            {% else %} 
           	 <a href="{{login_url}}"> Google Login</a><br>
            {% endif %}
    
    </div>
    
        <div id="language_menu" class="ddown">{% filter upper %}
        {{selected_language}} {% endfilter %}
            <ul> 
                {% if other_languages %}
                    {% for other_language in other_languages %}
                     <li onClick="reload_with_new_par('{{ other_language }}')" >{{ other_language }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
</div>
      
      
      
<script>
function reload_with_new_par(l) {
	var url = window.location.href;
	 
	if (url.indexOf('lang=') >-1) {	

		url=url.replace('lang={{ selected_language }}','lang='+l); 
		
	} else if (url.indexOf('?') > -1){
	   url += '&lang='+l;
	} else{
	   url += '?lang='+l;
	}
	window.location.href = url;
}
</script>

</nav>